*{
    margin: 0;
    padding: 0;
}
body{
    margin: 20px;
    border-radius: 10px;
}
p{
    
}
ul{
    display: none;
}
p>a{
    width: 140px;
    display: block;
    background: pink;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
    padding: 20px 100px 20px 20px;
    color: #222;
}
p:nth-child(1)>a{
    border-radius: 10px 10px 0 0;
}
li{
    width: 140px;
    list-style: none;
    background:rgb(5, 5, 50);
    padding: 20px 100px 20px 20px;
}
li>a{
    text-decoration: none;
    color: rgb(234, 234, 234);
    font-family:'Times New Roman', Times, serif;
}
li>a:hover{
    text-decoration: underline;
}